body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  background-color: #FF6961;
}

.liquid-container,
.liquid-child {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

button {
  float: right;
  font-family: inherit;
  font-size: 50%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  margin: 15px 0;
}

dd {
  margin: 10px 50px;
}

h1 {
  margin-top: 0;
}

li {
  margin-bottom: 15px;
}

li ul {
  margin-top: 15px;
}

pre {
  clear: both;
}

.t_code {
  font-family: "Courier New";
  font-weight: normal;
}

.main-container {
  width: 100%;
  height: 100%;
}

.page {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  padding: 40px;
  overflow: scroll;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  padding-left: 30px;
  width: calc(50% - 40px);
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.intro { background-color: #FFB347;}
.what { background-color: #c3cb71; }
.predefined-animations { background-color: #5A5255; }
.transition-map { background-color: #559E83; }
.helpers { background-color: #FF6961; }
.custom-animations { background-color: #25A0C5; }
.outro { background-color: #1B85B8; }

#liquid-bind-demo {
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  margin-top: 65px;
}

#liquid-bind-demo .liquid-container {
  width: auto;
  display: inline-block;
  vertical-align: top;
}
#liquid-bind-demo .liquid-child {
  width: 1.5em;
}

.liquid-if-demo {
  margin-top: 15px;
  font-size: 128px;
}

.custom-animation-demo-wrapper {
  text-align: center;
  margin-top: 65px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.custom-animation-demo-model {
  padding: 20px;
  height: 250px;
}
