<div class="page custom-animations">
  <span class="t_code">app/transitions/rotate-below.js:</span>
  {{code-snippet name="rotate-below.js"}}
  Template:
  {{code-snippet name="liquid-with-template.hbs"}}
</div>
