<div class="page predefined-animations">
  <h1>Predefined Animations</h1>
  <ul>
    <li>
      <span class="t_code">toLeft</span>, <span class="t_code">toRight</span>, <span class="t_code">toUp</span>, <span class="t_code">toDown</span>: slide animations that transform the old and new contents position
    </li>
    <li><span class="t_code">crossFade</span>: old content fades out and the new content fades in at the same time</li>
    <li><span class="t_code">fade</span>: old content fades out and then the new content fades in</li>
    <li><span class="t_code">explode</span>: allows you to break apart the content and animate individual pieces separately</li>
    <li><span class="t_code">flyTo</span>: old contents position and dimensions animate to new position/size</li>
  </ul>
</div>
