<div class="page transition-map">
  <h1>The Transition Map</h1>
  <ul>
    <li>Configure which transitions to run in which situations</li>
    <li><span class="t_code">app/transitions.js</span> similar to <span class="t_code">app/router.js</span></li>
    <li>Allows you to match by:
      <ul>
        <li>Route: <span class="t_code">fromRoute</span>, <span class="t_code">toRoute</span>, <span class="t_code">withinRoute</span></li>
        <li>Model: <span class="t_code">fromModel</span>, <span class="t_code">toModel</span>, <span class="t_code">betweenModels</span></li>
        <li>Value: <span class="t_code">fromValue</span>, <span class="t_code">toValue</span>, <span class="t_code">betweenValues</span></li>
        <li>DOM context: <span class="t_code">hasClass</span>, <span class="t_code">matchSelector</span>, <span class="t_code">childOf</span>, <span class="t_code">inHelper</span></li>
      </ul>
    </li>
  </ul>
</div>
