<div class="page what">
  <h1>What is liquid-fire?</h1>
  <ul>
    <li>Animation library for Ember.js</li>
    <li>DSL to define transition relationships</li>
    <li>Provides predefined animations and allows you to define your own</li>
    <li>Allows you to animate between different routes/models/template values</li>
    <li>Written by Edward Faulkner (now a member of the Ember core team)</li>
  </ul>
</div>
